<!--generate random blocks-->

<div class="container">
    <div class="letters-grid">
        <ul id="letters-grid-ul" class="flex-container">
            <%@letters.each do |letter|%>
                <li class="individual-letters flex-container">
                    <%= letter %>
                </li>
            <% end %>
        </ul>
    </div>
    <div class="form">
        <form action="/score">
            <input type="text" name="guess">
            <input type="hidden" name="letters" value="<%=@letters.join%>">
            <input type="submit">
        </form>
    </div>
</div>

<!--get user guess-->


